<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BMT-Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='modern-business.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">BMT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('{{x[0][3]}}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{x[0][1]}}</h3>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{x[1][3]}}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{ x[1][1] }}</h3>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{x[2][3]}}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{ x[2][1] }}</h3>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Now Showing</h1>

      <!-- Marketing Icons Section -->
   
      <div class="row">
      {% for mv in range(3) %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{x[mv][3]}}" alt="image" height="200vh"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{x[mv][1]}}</a>
              </h4>
            <p class="card-text">{{x[mv][2]}}</p>
            <form action="{{ url_for('time') }}" method='post'><button class="btn" type="Submit">Book</button><input type="hidden" name="check" value="{{x[mv][0]}}"></form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for mv in range(3,6) %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{x[mv][3]}}" alt="image" height="200vh"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{x[mv][1]}}</a>
              </h4>
            <p class="card-text">{{x[mv][2]}}</p>
            <form action="{{ url_for('time') }}" method='post'><button class="btn" type="Submit">Book</button><input type="hidden" name="check" value="{{x[mv][0]}}"></form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>




      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Book tickets to your favourite movies easily in no time...</h2>
          <p>Use BMT today because:</p>
          <ul>
            <li>
              <strong>Easy to book movies</strong>
            </li>
            <li>Fast server</li>
            <li>Easy and nice design</li>
            <li>Working contact form with validation</li>
            <li>Fully secure</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Know More</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BMT 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='bootstrap.bundle.min.js')}}"></script>

  </body>

</html>